@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Teko', sans-serif;
  font-size: large;
}

body {
  font-family: sans-serif;
  background-color: #4682B4;
  
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 12px 0 0 0;
}

a {
  color: #000000;
  text-decoration: none;
}

small {
  color: #828282;
}

header {
  font-family: 'Teko', sans-serif;
  background-color: #0047AB;
  color: #fff;
  padding: 3px;
  height: 26px;
  text-align: center;
  height: 5vh;
  padding: 1px;
}

header > img {
  margin-right: 10px;
  width: 10vh;
  height: 20px;
  border: 1px white solid;
  vertical-align: bottom;
  height: 5vh;
  padding: 1px;
}

form {
  padding: 15px;
  
}

label {
  float: left;
  width: 60px;
  
}

input {
  display: block;
  width: calc(100% - 60px);
  padding:4px 2px;
  margin: 0 0 10px 0;
  border:solid 1px #aacfe4;
}

textarea {
  border:solid 1px #aacfe4;
  width: 100%;
}

.news-list {
  background-color: #F0FFFF;
  width: 85%;
  margin: 12px auto;
  padding-bottom: 25px;
}


.news-item {
  padding: 0 15px;
}

.news-position {
  color: #828282;
}

.news-info {
  margin-left: 40px;
}
